{:paths ["src" "resources"]
 :deps  {io.github.matthewdowney/rich-comment-tests
         {:git/tag "v1.0.0" :git/sha "73b0863"}}
 :pods  {clj-kondo/clj-kondo     {:version "2023.01.20"}}
 :tasks {:requires ([pod.borkdude.clj-kondo :as clj-kondo])
         lint      (clj-kondo/print! (clj-kondo/run! {:lint ["src"]}))
         test      (comment "TODO")}}
