{:paths ["src" "resources"]
 :deps  {}
 :pods  {clj-kondo/clj-kondo {:version "2023.01.20"}}
 :tasks {lint
         {:requires ([pod.borkdude.clj-kondo :as clj-kondo])
          :task (clj-kondo/print! (clj-kondo/run! {:lint ["src"]}))}

         test
         {:extra-deps {io.github.matthewdowney/rich-comment-tests
                       {:git/tag "v1.0.2" :git/sha "4501366"}}
          :requires ([com.mjdowney.rich-comment-tests.test-runner :as rct])
          :task (rct/run-tests-in-file-tree! {:dirs #{"src"}})}}}
